body {
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
*{
  padding: 0;
  margin:0;
}

button {
  border: none;
  background: none;
  transition: 0.4s;
}
button:hover {
  font-size: 17px;
  border-radius: 20px;
}
.hollow-btn {
  background: #FFFFFF;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  width: 161px;
  height: 44px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #1D253C;
}
.orange-btn {
  background: #F46752;
  border: 1px solid rgba(29, 37, 60, 0.2);
  border-radius: 4px;
  height:61px;
  width:220px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-right: 10px
}
.price-btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #1D253C;
  height: 44px;
  width: 161px;
  border: 1px solid rgba(29, 37, 60, 0.2);
  border-radius: 4px;
}
.river_btn {
  background: #126F85;
  border-radius: 0 5px 5px 0;
  width: 84px;
  height: 60px;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #FFFFFF;
  margin-bottom: 28px;
}

.container {
  max-width: 1120px;
  padding: 0 10px;
  margin: 0 auto;
}
.d-flex {
  display: flex;
}
.fab {
  color: #5A6482;
  font-size: 18px;
  margin-right: 30px;
  transition: 0.3s;
}
.fab:hover {
  color: red;
}
.grid {
  display:grid;
  &_col-6 {
    grid-template-columns: 1fr 1fr;
  }
  &_col-4 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  &_col-3 {
    grid-template-columns: repeat(4, 1fr);
  }
  &_gap-70 {
    grid-column-gap: 70px;
  }
  &_gap-20 {
    grid-column-gap: 20px;
  }
}
.section {
  &__subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #F46752;
  }
  &__title {
    font-weight: 600;
    font-size: 44px;
    line-height: 52px;
    color: #1D253C;
  }
  &__desc {
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: #5A6482;
  }
  &__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}

.header {
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  background: #FFFFFF;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  &__nav {
    display: flex;
    align-items: center;
  }
  &__logo {
    display: inline-block;
  }
  &__link {
    margin-left:  35px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1D253C;
  }
  &__auth {
    display: flex;
    align-items: center;
  }
  &__login {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1D253C;
    margin-right: 39px;
  }
}
.hero {
  height: calc(100vh - 196px);
  padding: 223px 0 0 106px;
  background: url("../images/hero 1.png") no-repeat right;
  &__subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #F46752;
  }
  &__title {
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    text-transform: capitalize;
    color: #1D253C;
    width: 463px;
  }
  &__desc {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #5A6482;
    width: 411px;
    margin: 26px 0 40px 0;
  }
}
.secure {
  background: #F9F5F2;
  padding: 85px 0;
  &__img-part {
    padding-right: 52px;
  }
  &__img {
    width: 100%;
    height: 436px;
    background: #FFF;
    display: flex;
    align-items:center;
    justify-content: center;
  }

  &__remark {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #5A6482;
    &:before {
      content: "*";
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #F46752;
    }
  }
  &__info {
    padding: 83px 0 0 93px;
  }
  &__title {
    margin:26px 0 19px;
  }
  &__desc {
    margin-bottom: 32px;
  }
  &__link {
    display:inline-block;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #126F86;
  }
}
.technology {
  padding: 148px 0 164px;
  background: #ffffff;
  &__meets {
    padding: 126px 0;
  }
  &__title {
    font-weight: 500;
    margin: 27px 0 35px;
  }
  &__desc {
    margin-bottom: 15px;
    width: 483px;
  }
  &__link {
      color: #126F86;
  }
  &__img {
    position: relative;
  }
  &__content {
    position: absolute;
    z-index: 1;
    left: -49px;
    bottom: -17px;
    display: flex;
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;
    color: #1D253C;
    background: #FFFFFF;
    box-shadow: 3px 4px 34px rgba(66, 71, 77, 0.11);
    border-radius: 5px;
    width: 326px;
    height: 67px;
    align-items: center;
    justify-content: center;
  }
  &__points {
    position: absolute;
    top: -35px;
    left: -45px;
  }
  &__bg {
    position: absolute;
    z-index: 1;
  }
}
.insurance {
  position: relative;
  padding: 91px 0 85px;
  text-align: center;
  background: #F8F8F8;
  &__picture {
    position: absolute;
    top: -110px;
    margin: 0 auto;
    width: 100%;
  }
  &__title {
    font-weight: 500;
    margin: 30px 0 37px;
  }
  &__desc {
    margin-bottom: 41px;
  }
  &__card {
    height: 280px;
    padding: 30px 20px 0;
  }
  &__img {
    height: 140px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  &__card-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: #1D253C;
  }
  &__card-desc {
    margin-top: 10px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #5A6482;
  }
}
.safe {
  position: relative;
    padding: 120px 0 101px;
    background: #363839;
    text-align: center;
  &__title {
    font-weight: 500;
    margin: 26px 0 15px;
    color: #FFFFFF;
  }
  &__desc {
    width: 731px;
    margin: 0 auto;
    color: #ACB4BF;
  }
  &__card {
    padding: 0 60px;
  }
  &__grid {
    position: relative;
    padding: 73px 0 32px;
  }
  &__img-dog {
    position: absolute;
    top: -133px;
    right: 11px;
  }
  &__img-line {
    position: absolute;
    top: 85px;
    left: 205px;
  }
  &__img-confetti {
    position: absolute;
    top: -75px;
    right: -160px;
  }
  &__img {
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  & svg {
  position: absolute;
    z-index: -1;
  }
  &__svg1 {
  top: 20px;
    right: -14px;
  }
  &__svg2 {
    top: 14px;
    left: -5px;
  }
  &__svg3 {
    top: 10px;
    left: 0;
  }
  &__card-title {
    margin: 14px 0;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
  }
  &__card-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #ACB4BF;
  }
}
.learning {
  padding: 148px 0 164px;
  background: #F9F5F2;
  &__img {
    position: relative;
  }
  &__bg {
    position: absolute;
    z-index: 1;
  }
  &__points {
    position: absolute;
    top: -35px;
    left: -45px;
  }
  &__content {
    right: 44px;
    bottom: -25px;
    position: absolute;
    z-index: 1;
    background: #FFFFFF;
    box-shadow: 3px 4px 34px rgba(66, 71, 77, 0.11);
    border-radius: 5px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #1D253C;
    width: 307px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__info {
    padding: 100px 0 100px 102px;
  }
  &__title {
    font-weight: 500;
    margin: 30px 0 24px;
  }
  &__desc {
    font-family: Roboto,sans-serif;
    margin-bottom: 23px;
  }
  &__link {
    font-family: Roboto,sans-serif;
    color: #007189;
  }
  & svg {
    margin-left: 6px;
  }

}
.info {
  padding: 160px 0 132px ;
  background: #FFFFFF;
  svg {
    margin-left: 6px;
  }
  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 248px;
    padding: 40px 0 35px 22px;
    &_sea {
      color: #7CAFDD;
      background: rgba(169, 216, 255, 0.3);
    }
    &_sunset {
      background: rgba(255, 174, 104, 0.3);
      color: #E79751;
    }
    &_romantic {
      background: rgba(250, 82, 64, 0.3);
      color: #FA5240;
    }
    &_river {
      background: rgba(18, 111, 133, 0.3);
      color: #126F85;
    }
  }
  &__card-title {
    font-weight: 600;
    font-size: 34px;
    line-height: 42px;
  }
  &__card-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #5A6482;
  }
  &__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }
}
.start {
  padding: 107px 0 85px;
  background: #E5F3FE;
  text-align: center;

  &__info {
    position: relative;
    z-index: 0;
  }

  img {
    position: absolute;
    z-index: -1;
  }
    &__img1 {
      left: -106px;
      bottom: -85px;
    }
    &__img2 {
      right: 82px;
      bottom: -85px;
    }
    &__desc {
      margin: 8px 0 39px;
      color: #676562;
    }
}
.footer {
  padding: 73px 0 40px;
  ul {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #5A6482;
    margin-bottom: 19px;
  }
  &__left{
    padding-right: 230px;
  }
  &__desc {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #5A6482;
    margin: 33px 0 22px;
    width: 320px;
  }
  &__search {
    width: 212px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px 0 0 3px;
  }
  &__right {
    padding-left: 15px;
  }
  &__form:not(:last-child) {
    margin-right: 103px;
  }
  &__title {
    font-family: Roboto,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #1D253C;
    margin-bottom: 22px;
  }
}
.foot {
  background: #F8F8F8;
  border-radius: 0;
  padding: 18px 0;
  .d-flex {
    justify-content: space-between;
    align-items: center;
  }
}






