body {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

*{
    padding: 0;
    margin:0;
}
.hollow-btn {
    background: #FFFFFF;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 0;
    width: 161px;
    height: 44px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #1D253C;
}
.orange-btn {
    background: #F46752;
    border: 1px solid rgba(29, 37, 60, 0.2);
    border-radius: 4px;
    height:61px;
    width:220px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-right: 10px
}
.container {
    max-width: 1120px;
    padding: 0 10px;
    margin: 0 auto;
}

.grid {
    display:grid;
}

.grid__col-6 {
    grid-template-columns: 1fr 1fr;
}

.header {
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    background: #FFFFFF;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__logo {
    display: inline-block;
}

.header__link {
    margin-left:  35px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1D253C;
}

.header__auth {
    display: flex;
    align-items: center;
}
.header__login {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1D253C;
    margin-right: 39px;
}
.price-btn {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #1D253C;
    height: 44px;
    width: 161px;
    border: 1px solid rgba(29, 37, 60, 0.2);
    border-radius: 4px;
}

.hero {
    height: calc(100vh - 196px);
    padding: 223px 0 0 106px;
    background: url("../images/hero 1.png") no-repeat right;
}

.hero__subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #F46752;
}
.hero__title {
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    text-transform: capitalize;
    color: #1D253C;
    width: 463px;
}
.hero__desc {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #5A6482;
    width: 411px;
    margin: 26px 0 40px 0;
}

.section__subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #F46752;
}
.section__title {
    font-weight: 600;
    font-size: 44px;
    line-height: 52px;
    color: #1D253C;
}
.section__desc {
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: #5A6482;
}

.secure {
    background: #F9F5F2;
    padding: 85px 0;
}

.secure__img-part {
    padding-right: 52px;
}
.secure__img {
    width: 100%;
    height: 436px;
    background: #FFF;
    display: flex;
    align-items:center;
    justify-content: center;
}

.secure__remark:before {
    content: "*";
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F46752;
}

.secure__remark {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #5A6482;
}

.secure__info {
    padding: 83px 0 0 93px;
}
.secure__title {
    margin:26px 0 19px;
}
.secure__desc {
    margin-bottom: 32px;
}

.secure__link {
    display:inline-block;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #126F86;
}

.technology {
    padding: 148px 0 164px;
}
.technology__meets {
    padding: 126px 0;
}
.technology__title {
    margin: 27px 0 35px;
}
.technology__desc {
    margin-bottom: 15px;
    width: 483px;
}
.technology__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #126F86;
}
.technology__img {
    position: relative;
}
.technology__content {
    position: absolute;
    z-index: 1;
    left: -49px;
    bottom: -17px;
    display: flex;
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;
    color: #1D253C;
    background: #FFFFFF;
    box-shadow: 3px 4px 34px rgba(66, 71, 77, 0.11);
    border-radius: 5px;
    width: 326px;
    height: 67px;
    align-items: center;
    justify-content: center;
}
.technology__points {
    position: absolute;
    top: -35px;
    left: -45px;
}
.technology__bg {
    position: absolute;
    z-index: 1;
}



